version: '3.8'
services:
  backend:
    image: tu-imagen-backend
    environment:
      - FRONTEND_URL=http://localhost:3000
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: platforma_python
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: 